List

In [3]:
# what is a list? 
# list is a collection of items
8
a = 'Inobat'

students = ['list1', 'name2', 'name3']
type(students)

list

In [4]:
# mutable, immutable
# iterable, not iterable

In [6]:
numbers = [1,2,3,4,5]

for i in numbers:
    print(i**2)

1
4
9
16
25

In [9]:
country = 'Uzbekistan'
inc = 0
for i in country:
    if i == 'a':
        inc +=1
print(inc)

1

In [11]:
students = ['name1', 'name2']
'name3' in students

False

In [13]:
list('Uzbekistan')

['U', 'z', 'b', 'e', 'k', 'i', 's', 't', 'a', 'n']

In [19]:
# method

l = [1,2,3,4]
l.append(5)
l

l.append([1,2,3])
print(l)

[1, 2, 3, 4, 5, [1, 2, 3]]

In [32]:
l = [1,2,3,4]
l.extend([8,2,56])
print(l)

[1, 2, 3, 4, 8, 2, 56]

In [33]:
l.reverse()
l

[56, 2, 8, 4, 3, 2, 1]

In [35]:
d = reversed(l)
list(d)

[1, 2, 3, 4, 8, 2, 56]

In [39]:
a = range(1,100)
print(type(a))

list(a)

<class 'range'>

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [45]:
l = ['a', 'g', 'h']

a = 'Husan'

print(a[:1] + a[3] + a[2:])

Hasan

Tuple

In [50]:
#iterable
# immutable

a = (1,2,3)
b = tuple([1,2,3])

# paranthesis is not sign of tuple

b = 1,2,3

type(b)

tuple

In [52]:
a = 1
type(a)

int

In [55]:
a = 1,
type(a)

tuple

In [60]:
name = 'Oygul'
age = 24
job = 'Teacher'

# ------------------------

name, age, job = 'Oygul', 22, 'Teacher'
name

# ------------------------ 

name, _, job = 'Oygul', 22, 'Teacher'
name

'Oygul'

In [67]:
A, *others, H = 10,20,30,40,50,60,70,80
others

[20, 30, 40, 50, 60, 70]

In [75]:
def math_calc(exponent: int, base: int):
    return(base**exponent + base)

math_calc(2,3)

12

In [91]:
def pylindrom(word: str):
    print(bool(word==word[::-1]))

pylindrom('kiyik')

True

In [72]:
l = [1,2,3,4,5,[6,[7,8],9]]