Strings

In [ ]:
# int, float, complex

# input, print, type

In [5]:
# string

name = 'Inobat'

a = ' 4756'

str()

b = 8

print(type(b))

b = str(b)
print(type(b))

<class 'int'>
<class 'str'>

In [6]:
name = 'Zuhra'

print(int(name))

ValueError: invalid literal for int() with base 10: 'Zuhra'

In [7]:
number = '1234'

print(int(number))

1234

In [8]:
name = 'Muhammad'
name2 = "Muhammad"
name3 = '''Muhammad'''
name4 = """Muhammad
is only perfect person in the world"""

In [14]:
country = 'Uzbekistan '


print(5 * country)

region = 'Tashkent'
print (country + region)

Uzbekistan Uzbekistan Uzbekistan Uzbekistan Uzbekistan
Uzbekistan Tashkent

In [16]:
name ='Ma\'ruf'
name = "Ma'ruf"

In [20]:
message = 'My name is Inobat \nI live in a Tashkent'
print(message)
message = 'My name is Inobat \tI live in a Tashkent'
print(message)

My name is Inobat
I live in a Tashkent
My name is Inobat 	I live in a Tashkent

In [29]:
country = 'Uzbekistan\b\b'

print(country)

Uzbekist

In [32]:
# 1st rule

# mutable, immutable
l = [4,3,5]
print(l)
l[2] = 10
print(l)

[4, 3, 5]
[4, 3, 10]

In [34]:
l = 'Group'
print(l)
l[4] = 'b'
print(l)

Group

TypeError: 'str' object does not support item assignment

In [41]:
# indexing, slicing

country = 'Uzbekistan'

print(country[0])
print(country[-1])
print(country[25])

U
n

IndexError: string index out of range

In [48]:
# slicing - start, stop, step

country = 'Uzbekistan'

print(country[0:5])
print(country[:])
print(country[::2])
print('inobat'[::-1])

Uzbek
Uzbekistan
Ubksa
taboni

In [58]:
txt = 'LMaasleitbtui'
print(txt[::2])
print(txt[1::2])

Lasetti
Malibu

In [66]:
name = 'inobat'
name.upper()

'INOBAT'

In [62]:
a = 6
a.upper()

AttributeError: 'int' object has no attribute 'upper'

In [64]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [68]:
name.capitalize()

'Inobat'

In [76]:
name.endswith('at')

True

In [81]:
name.find('a', 2)

4

In [87]:
print(id(name))
name2 = name.replace('b', 'y')
print(id(name2))

2118683776400
2118681760208

In [88]:
name

'inobat'

In [94]:
user_name = input('Enter username')
host_name = input('Enter host name')
job = input('Enter host subject')

message = '''Hi {}, welcome to my channel.Let me introduce myself: \n\tMy name is {}\n\tI am {} Teacher'''.format(user_name, host_name, job)
print(message)


message = '''Hi {2}, welcome to my channel.Let me introduce myself: \n\tMy name is {0}\n\tI am {1} Teacher'''.format(host_name, job, user_name)
print(message)

Hi Mukhlisa, welcome to my channel.Let me introduce myself:
	My name is Inobat
	I am Physics Teacher
Hi Mukhlisa, welcome to my channel.Let me introduce myself:
	My name is Inobat
	I am Physics Teacher

In [97]:
user_name = input('Enter username')
host_name = input('Enter host name')
job = input('Enter host subject')

message = f'''Hi {user_name}, welcome to my channel.Let me introduce myself: \n\tMy name is {host_name}\n\tI am {job} Teacher'''
print(message)

Hi Shokhsanam, welcome to my channel.Let me introduce myself:
	My name is Inobat
	I am English Teacher

In [101]:
'My name is Inobat'.split(' ')

['My', 'name', 'is', 'Inobat']