Dictionary, Set

In [1]:
int, str, list, tuple

(int, str, list, tuple)

In [3]:
d = {'id': 1}
print(type(d))

<class 'dict'>

In [4]:
#iterable
#mutable
#unordered

In [6]:
d = {'student_id': 101, 'Student_name': 'John', 'Student_age': 28}

#rule -- you can use only str or tuple object in key position

d2 = {(1,2,3): "John"}

#rule -- you can use any type of python objects in value position

In [7]:
d.keys()

dict_keys(['student_id', 'Student_name', 'Student_age'])

In [8]:
d.values()

dict_values([101, 'John', 28])

In [9]:
d.items()

dict_items([('student_id', 101), ('Student_name', 'John'), ('Student_age', 28)])

In [10]:
d['Student_name']

'John'

In [13]:
d = dict(one = 1, two = 2, three = 3)
d

{'one': 1, 'two': 2, 'three': 3}

In [15]:
l = [('one', 1), ('two', 2), ('three', 3)]
d = dict(l)
d

{'one': 1, 'two': 2, 'three': 3}

In [20]:
# d['four']
# if there is no key
d.get('four', 'Not found')

'Not found'

In [30]:
d3 = {'id': 1, 'name': 'john', 
    'family_members': [{'id': 100, 'name': 'josh', "relative": 'Father'},
                       {'id': 101, 'name': 'sara', "relative": 'Mother'}]}

print(d3['family_members'][1]['name'])
print(d3['family_members'][1]['relative'])

sara
Mother

In [24]:
dir(d3)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [27]:
d3.clear()
d3

{}

In [33]:
d3 = {'id': 1, 'name': 'john', 
    'family_members': [{'id': 100, 'name': 'josh', "relative": 'Father'},
                       {'id': 101, 'name': 'sara', "relative": 'Mother'}]}


d3.pop('id')
d3

{'name': 'john',
 'family_members': [{'id': 100, 'name': 'josh', 'relative': 'Father'},
  {'id': 101, 'name': 'sara', 'relative': 'Mother'}]}

In [35]:
d3.popitem()

('name', 'john')

In [38]:
d = {'one': 1, 'two': 2}
d['three'] = 3
d

{'one': 1, 'two': 2, 'three': 3}

In [39]:
# ---------hw--------

# ----learn about:
# fromkeys
# setdefault

In [40]:
# copy

# shallow copy. deep copy

In [42]:
l = [1,2,3]

l2 = l.copy()

print(id(l))
print(id(l2))

2561259355776
2561258699776

In [44]:
# 2 dimention // shallow copy
l = [1,2,3, [10, 20, 30]]

l2 = l.copy()

l2[3][2] = 1000

print(l)
print(l2)

[1, 2, 3, [10, 20, 1000]]
[1, 2, 3, [10, 20, 1000]]

In [46]:
# deep copy

import copy 

l = [1,2,3, [10, 20, 30]]

l2 = copy.deepcopy(l)

l2[3][2] = 1000

print(l)
print(l2)

[1, 2, 3, [10, 20, 30]]
[1, 2, 3, [10, 20, 1000]]

In [48]:
l = [1,2,3, [10, 20, 30]]

l2 = l

print(id(l))
print(id(l2))

2561259345792
2561259345792

SET

In [50]:
{}

# not iterable
# not ordered
# mutable, but all types which are inside of set should be immutable

{}

In [54]:
s = {1,2,3,'a', (1,2,3)}
s

{(1, 2, 3), 1, 2, 3, 'a'}

In [57]:
s.add('hello')
s.difference()

{(1, 2, 3), 1, 2, 3, 'a', 'hello'}

In [72]:
# rule - it is not allowed to insert duplicate values

s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1 & s2 #intersect
s1 | s2 #union
s2 - s1 #except

s1.difference(s2)
s2.difference_update(s1) #puts difference to s2 set
s2


# removes elements
s1.discard(2) 
s1

s1.remove(1)
s1

{3, 4}