## Pandas 2

In [17]:
import pandas as pd
import sqlalchemy as sa


df = pd.read_csv('student.csv')
csv_df = df[df['Extension'] == 'csv']
txt_df = df[df['Extension'] == 'txt']
sql_df = df[df['Extension'] == 'sql']



csv_df.to_csv('data/student.csv',index=False)
txt_df.to_csv('data/student.txt',index=False)
sql_df

   ID  Name  Age Extension
2   3   Ann   26       sql
5   6  Sara   25       sql

In [27]:
df.sort_values(['Extension', 'Age'],ascending=[True,False])

   ID  Name  Age Extension
6   7   Ann   26       csv
1   2  Sara   25       csv
4   5  Alex   23       csv
2   3   Ann   26       sql
5   6  Sara   25       sql
3   4   Bek   25       txt
7   8   Bek   25       txt
0   1  Alex   23       txt

In [39]:
# mean, mode, median


ls = [1,2,2,3,4,3,5,6,3,5,3,5,5,5]

ser = pd.Series(ls)
print(ser.median())

3.5

In [41]:
filt = df['Age'] > df['Age'].mean()

df[filt]

   ID  Name  Age Extension
1   2  Sara   25       csv
2   3   Ann   26       sql
3   4   Bek   25       txt
5   6  Sara   25       sql
6   7   Ann   26       csv
7   8   Bek   25       txt

In [54]:
df = pd.read_csv('employee.csv')
filt1 = df['EMPLOYMENT_STATUS'] == 'Active' 
filt2 = df['GENDER'] == 'Male'
filt3 = df['BASE_SALARY'] > 100000
filt4 = df['POSITION_TITLE'] == 'POLICE OFFICER'
filt_final = filt1 & filt2 & filt3 & filt4
df[filt_final]

Empty DataFrame
Columns: [UNIQUE_ID, POSITION_TITLE, DEPARTMENT, BASE_SALARY, RACE, EMPLOYMENT_TYPE, GENDER, EMPLOYMENT_STATUS, HIRE_DATE, JOB_DATE]
Index: []