## Pandas 1

In [ ]:
import pandas as pd
import numpy as np

In [23]:
# series
import pandas as pd
import numpy as np


ls = [1,2,3,4,7,8]
ls2 = [3,4,5,6]
print('python native list: ', ls)
arr = np.array(ls)
arr2 = np.array(ls2)
print('numpy array: ', arr)
ser = pd.Series(arr)
ser2 = pd.Series(arr2)
print('pandas series:', ser)

python native list:  [1, 2, 3, 4, 7, 8]
numpy array:  [1 2 3 4 7 8]
pandas series: 0    1
1    2
2    3
3    4
4    7
5    8
dtype: int64

In [15]:
print(ser[0])
print(ser[1])
print(ser[0:2])
print(ser[0::2])

1
2
0    1
1    2
dtype: int64
0    1
2    3
dtype: int64

In [21]:
print(ser.mean())
print(ser.min())
print(ser.max())

2.5
1
4

In [32]:
print(ser + ser2)
print(ser - ser2)
print(ser * ser2)
print(ser / ser2)

0     4.0
1     6.0
2     8.0
3    10.0
4     NaN
5     NaN
dtype: float64
0   -2.0
1   -2.0
2   -2.0
3   -2.0
4    NaN
5    NaN
dtype: float64
0     3.0
1     8.0
2    15.0
3    24.0
4     NaN
5     NaN
dtype: float64
0    0.333333
1    0.500000
2    0.600000
3    0.666667
4         NaN
5         NaN
dtype: float64

In [36]:
filt = ser % 2 == 0
filt1 = (ser > 3) & (ser < 7)
print(ser[filt])
print(ser[filt1])

1    2
3    4
5    8
dtype: int64
3    4
dtype: int64

In [38]:
ser.describe()

count    6.000000
mean     4.166667
std      2.786874
min      1.000000
25%      2.250000
50%      3.500000
75%      6.250000
max      8.000000
dtype: float64

In [40]:
data = {
        "id": [1,2,3,4,5,6,7],
        "name": ['mukhlisa', 'samandar', 'nodir', 'nabohat', 'inobat', 'muhammadbotir', 'najmiddin'],
        "python_mid_score": [90, 80, 95, 85, 95, 85, 80]
        }

data

{'id': [1, 2, 3, 4, 5, 6, 7],
 'name': ['mukhlisa',
  'samandar',
  'nodir',
  'nabohat',
  'inobat',
  'muhammadbotir',
  'najmiddin'],
 'python_mid_score': [90, 80, 95, 85, 95, 85, 80]}

In [45]:
df = pd.DataFrame(data)
df

   id           name  python_mid_score
0   1       mukhlisa                90
1   2       samandar                80
2   3          nodir                95
3   4        nabohat                85
4   5         inobat                95
5   6  muhammadbotir                85
6   7      najmiddin                80

In [50]:
ser[1]

np.int64(2)

In [51]:
df[0]

KeyError: 0

In [53]:
df.head(3)

   id      name  python_mid_score
0   1  mukhlisa                90
1   2  samandar                80
2   3     nodir                95

In [56]:
df.tail(2)

   id           name  python_mid_score
5   6  muhammadbotir                85
6   7      najmiddin                80

In [59]:
df.columns

Index(['id', 'name', 'python_mid_score'], dtype='object')

In [67]:
df["name"]

0         mukhlisa
1         samandar
2            nodir
3          nabohat
4           inobat
5    muhammadbotir
6        najmiddin
Name: name, dtype: object

In [68]:
df[["id", "name"]]

   id           name
0   1       mukhlisa
1   2       samandar
2   3          nodir
3   4        nabohat
4   5         inobat
5   6  muhammadbotir
6   7      najmiddin

In [71]:
print(type(df["name"]))
print(type(df[["id", "name"]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [74]:
df * 2

   id                        name  python_mid_score
0   2            mukhlisamukhlisa               180
1   4            samandarsamandar               160
2   6                  nodirnodir               190
3   8              nabohatnabohat               170
4  10                inobatinobat               190
5  12  muhammadbotirmuhammadbotir               170
6  14          najmiddinnajmiddin               160

In [75]:
df['python_mid_score'] = 80

In [78]:
df = pd.read_csv('mavie.csv')
df.head(1)

EmptyDataError: No columns to parse from file

In [ ]:
# label --- appearance -- [0,1,2,3,4,5,6],
# index --- ['mukhlisa', 'samandar', 'nodir', 'nabohat', 'inobat', 'muhammadbotir', 'najmiddin']
# loc --- label
# iloc --- position