In [58]:
import pandas as pd
import numpy as np

data = {'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df_personal = pd.DataFrame(data)


# 1. Rename column names using function. "First Name" --> "first_name", "Age" --> "age

def renamer(dataframe):
    dataframe.columns = dataframe.columns.str.replace(' ', '_').str.lower()
    return dataframe

renamer(df_personal)

# 2. Print the first 3 rows of the DataFrame
print(df_personal.head(3))


# 3. Find the mean age of the individuals
mean_age = df_personal['age'].mean()

print(mean_age)

# 4. Select and print only the 'first_name' and 'city' columns

print(df_personal[['first_name', 'city']])
# 5. Add a new column 'Salary' with random salary values

df_personal['Salary'] = np.random.randint(30000, 100000, size=len(df_personal))

# 6. Display summary statistics of the DataFrame

summary = df_personal.describe()
print(summary)

  first_name  age           city
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
32.5
  first_name           city
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago
             age       Salary
count   4.000000      4.00000
mean   32.500000  67315.00000
std     6.454972  21402.17084
min    25.000000  48661.00000
25%    28.750000  53080.75000
50%    32.500000  61988.50000
75%    36.250000  76222.75000
max    40.000000  96622.00000

In [ ]:
# Homework 2:

# 1. Create a DataFrame named sales_and_expenses with columns 'Month', 'Sales', and 'Expenses', 
# representing monthly sales and expenses data.
# Use below table.

# | Month | Sales | Expenses |
# |-------|-------|----------|
# | Jan   | 5000  | 3000     |
# | Feb   | 6000  | 3500     |
# | Mar   | 7500  | 4000     |
# | Apr   | 8000  | 4500     |


data = {
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales': [5000, 6000, 7500, 8000],
    'Expenses': [3000, 3500, 4000, 4500],
}

df_sales_expenses = pd.DataFrame(data)
df_sales_expenses = df_sales_expenses.set_index('Month')

# 2. Calculate and display the maximum sales and expenses.
df_max = df_sales_expenses.max()
print(df_max)
# 3. Calculate and display the minimum sales and expenses.
df_min = df_sales_expenses.min()
print(df_min)
# 4. Calculate and display the average sales and expenses.
df_avg = df_sales_expenses.mean()
print(df_avg)

Sales       8000
Expenses    4500
dtype: int64
Sales       5000
Expenses    3000
dtype: int64
Sales       6625.0
Expenses    3750.0
dtype: float64

       Sales  Expenses
Month
Jan     5000      3000
Feb     6000      3500
Mar     7500      4000
Apr     8000      4500

In [57]:
# Homework 3:

# 1. Create a DataFrame named expenses with columns 'Category', 
# 'January', 'February', 'March', and 'April', representing monthly 
#  expenses for different categories. Use below table.

# | Category       | January | February | March | April |
# |----------------|---------|----------|-------|-------|
# | Rent           | 1200    | 1300     | 1400  | 1500  |
# | Utilities      | 200     | 220      | 240   | 250   |
# | Groceries      | 300     | 320      | 330   | 350   |
# | Entertainment  | 150     | 160      | 170   | 180   |


data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January' : [1200, 200, 300, 150],
    'February' : [1300, 220, 320, 160],
    'March' : [1400, 240, 330, 170],
    'April' : [1500, 250, 350, 180],
}

df_expenses = pd.DataFrame(data)
df_expenses = df_expenses.set_index('Category')

# 2. Calculate and display the maximum expense for each category.

df_max = df_expenses.max(axis=1)
print(df_max)
# 3. Calculate and display the minimum expense for each category.
df_min = df_expenses.min(axis=1)
print(df_min)
# 4. Calculate and display the average expense for each category.
df_avg = df_expenses.mean(axis=1)
print(df_avg)

# In this task, use `.set_index` method to make Category column as index. 

# Try this code, learn it and use it in the task.

# > expenses.set_index('Category')

Category
Rent             1500
Utilities         250
Groceries         350
Entertainment     180
dtype: int64
Category
Rent             1200
Utilities         200
Groceries         300
Entertainment     150
dtype: int64
Category
Rent             1350.0
Utilities         227.5
Groceries         325.0
Entertainment     165.0
dtype: float64