Loops

In [12]:
# iterable

# i, j, k

for i in [1,2,3,4,5,6]:
    print(i)

1
2
3
4
5
6

In [13]:
for i in [1,2,3,4,5,6]:
    print(i, end= ' ')
    
for i in [1,2,3,4,5,6]:
    print(i, end= '#')
# end - def value \n

1 2 3 4 5 6 1#2#3#4#5#6#

In [11]:
for i in [1,2,3,4,5,6]:
    print('hello')

hello
hello
hello
hello
hello
hello

In [9]:
print('hello')

hello

In [15]:
for i in [1,2,3,4,5,6]:
    print(i**2)

1
4
9
16
25
36

In [18]:
for j in 'Uzbekistan':
    print(j, end='')

Uzbekistan

In [20]:
for k in {'id': 1, 'name': 'Inobat'}:
    print(k)

id
name

In [23]:
d = {'id': 1, 'name': 'Inobat'}
d.items()

dict_items([('id', 1), ('name', 'Inobat')])

In [24]:
for key, value in {'id': 1, 'name': 'Inobat'}:
    print(key, value)

i d

ValueError: too many values to unpack (expected 2)

In [27]:
for key, value in {'id': 1, 'name': 'Inobat'}.items():
    print(key, value)

id 1
name Inobat

In [29]:
# range() ---- identity(1,1)


a = range(10)

print(a)

range(0, 10)

In [31]:
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for i in range(50):
    print('Uzb')

Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb
Uzb

In [35]:
# enumerate -- 

l = ['a', 'b', 'c', 'd']

for ind, val in enumerate(l):
    print(f'{ind}-{val}')

0-a
1-b
2-c
3-d

In [37]:
for i in range(101):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [39]:
for i in range(101):
    if i%2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [46]:
d = [('A', 0), ('B', 1), ('C',3), ('A', 5), ('C',8)]
d

[('A', 0), ('B', 1), ('C', 3), ('A', 5), ('C', 8)]

In [48]:
result = {}

for key, val in d:
    if key not in result.keys():
        result[key] = val
    else:
        result[key] = result[key] + val

result

{'A': 5, 'B': 1, 'C': 11}

In [53]:
# zip

students = ['Inobat', 'Samandar', 'Zuhra', 'Nodir']
 
scores = [80, 100, 120, 60]

for student, score in zip(students, scores):
    print(f'{student} - {score}')

Inobat - 80
Samandar - 100
Zuhra - 120
Nodir - 60

In [61]:
alphabet = 'abcdefghijk'

for letter in alphabet:
    for number in range(1,11,1):
        print(letter + str(number))

a1
a2
a3
a4
a5
a6
a7
a8
a9
a10
b1
b2
b3
b4
b5
b6
b7
b8
b9
b10
c1
c2
c3
c4
c5
c6
c7
c8
c9
c10
d1
d2
d3
d4
d5
d6
d7
d8
d9
d10
e1
e2
e3
e4
e5
e6
e7
e8
e9
e10
f1
f2
f3
f4
f5
f6
f7
f8
f9
f10
g1
g2
g3
g4
g5
g6
g7
g8
g9
g10
h1
h2
h3
h4
h5
h6
h7
h8
h9
h10
i1
i2
i3
i4
i5
i6
i7
i8
i9
i10
j1
j2
j3
j4
j5
j6
j7
j8
j9
j10
k1
k2
k3
k4
k5
k6
k7
k8
k9
k10

In [63]:
alphabet = 'abcdefghijk'

for letter in alphabet:
    for number in range(1,11,1):
        print(letter * number)

a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa
aaaaaaaa
aaaaaaaaa
aaaaaaaaaa
b
bb
bbb
bbbb
bbbbb
bbbbbb
bbbbbbb
bbbbbbbb
bbbbbbbbb
bbbbbbbbbb
c
cc
ccc
cccc
ccccc
cccccc
ccccccc
cccccccc
ccccccccc
cccccccccc
d
dd
ddd
dddd
ddddd
dddddd
ddddddd
dddddddd
ddddddddd
dddddddddd
e
ee
eee
eeee
eeeee
eeeeee
eeeeeee
eeeeeeee
eeeeeeeee
eeeeeeeeee
f
ff
fff
ffff
fffff
ffffff
fffffff
ffffffff
fffffffff
ffffffffff
g
gg
ggg
gggg
ggggg
gggggg
ggggggg
gggggggg
ggggggggg
gggggggggg
h
hh
hhh
hhhh
hhhhh
hhhhhh
hhhhhhh
hhhhhhhh
hhhhhhhhh
hhhhhhhhhh
i
ii
iii
iiii
iiiii
iiiiii
iiiiiii
iiiiiiii
iiiiiiiii
iiiiiiiiii
j
jj
jjj
jjjj
jjjjj
jjjjjj
jjjjjjj
jjjjjjjj
jjjjjjjjj
jjjjjjjjjj
k
kk
kkk
kkkk
kkkkk
kkkkkk
kkkkkkk
kkkkkkkk
kkkkkkkkk
kkkkkkkkkk

In [65]:
# works until the condition is false


a = 1

while a<=100:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# break -- stops
# continue - omits that step

In [72]:
# prime num - tub son
# perfect num - bolinuvchilari yigindisi oziga teng

number = int(input('enter number:'))

inc = 2

for i in range(inc, number):
    if number % i == 0:
        print('Not prime')
        break
    else:
        pass
else:
    print('Prime')

Not prime

In [74]:
students = ['Zuhra', 'Nodir', 'Samandar', 'Mukhlisa']

for i in students:
    if i.endswith('a'):
        continue
    print(i)

Nodir
Samandar